git_protocol: https
editor: nvim
prompt: enabled
pager: less
aliases:
  co: pr checkout
http_unix_socket:
browser:
version: "1"
user.email: "{{ if .isPersonal }}{{ .email_personal }}{{ else }}{{ .email_work }}{{ end }}"
