brew "bat"
brew "diff-so-fancy"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "gum"
brew "lazygit"
brew "neovim"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "starship"
brew "tmux"

cask "bartender"
cask "bitwarden"
cask "cleanshot"
cask "cursor"
cask "fantastical"
cask "figma"
cask "firefox"
cask "ghostty"
cask "git-credential-manager"
cask "kaleidoscope"
cask "logi-options+"
cask "netnewswire"
cask "nikitabobko/tap/aerospace"
cask "raycast"
cask "tower"
cask "xscope"

{{- if .work_mode }}
# Hover
brew "git-lfs"

# Ruby
# https://github.com/rbenv/ruby-build/wiki#macos
brew "openssl@3"
brew "readline"
brew "libyaml"
brew "gmp"
brew "autoconf"
brew "rust"

cask "android-file-transfer"
cask "android-studio"
{{- end }}
