registry=https://registry.npmjs.org/
always-auth=true
unsafe-perm=true
{{- if contains "winchester" .chezmoi.hostname -}}
@hover:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken={{ .npm_token }}
{{- end -}}
