snippet /
// $0
endsnippet

snippet /*
/*
$0
*/
endsnippet

snippet /**
/**
 * $0
 **/
endsnippet

snippet todo
TODO: $0
endsnippet

snippet fix
FIXME: $0
endsnippet

snippet note
NOTE: $0
endsnippet
