{{- $work_mode := true -}}
{{- if eq .chezmoi.hostname "winchester" -}}
{{-   $work_mode = false -}}
{{- end -}}

[data]
  work_mode = {{ $work_mode }}

{{- if $work_mode }}
  email = {{ (bitwardenFields "item" "chezmoi").email_work.value }}
  github_token = {{ (bitwardenFields "item" "chezmoi").github_token_work.value }}
  github_user = {{ (bitwardenFields "item" "chezmoi").github_user_work.value }}
  gpr_api_key = {{ (bitwardenFields "item" "chezmoi").gpr_api_key.value }}
  match_password = {{ (bitwardenFields "item" "chezmoi").match_password.value }}
  npm_token = {{ (bitwardenFields "item" "chezmoi").npm_token_work.value }}
  segment_typewriter_token = {{ (bitwardenFields "item" "chezmoi").segment_typewriter_token.value }}
{{- else }}
  email = {{ (bitwardenFields "item" "chezmoi").email.value }}
  github_token = {{ (bitwardenFields "item" "chezmoi").github_token.value }}
  github_user = {{ (bitwardenFields "item" "chezmoi").github_user.value }}
  npm_token = {{ (bitwardenFields "item" "chezmoi").npm_token.value }}
{{- end }}

[template]
  options = ["missingkey=error"]
